.myinfo {
	background: url(../img/bg.jpg) no-repeat center center;
	color: #fff;
	position: relative;
	background-size: 100% auto;
}

.myinfo .exitBtn {
	position: absolute;
	right: .3rem;
	top: .4rem;
	color: #fff;
	font-size: .26rem;
}

.myinfo .imgbox {
	height: 1.3rem;
	width: 1.3rem;
	background: #81cde2;
	border-radius: 100%;
	overflow: hidden;
	padding: .05rem;
	margin: .1rem auto;
}

.myinfo .imgbox img {
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 100%;
	overflow: hidden;
	display: block;
}

.myinfo>div {
	padding: .55rem 0 .7rem;
	text-align: center;
}

.myinfo .name {
	font-size: .36rem;
}

.myinfo .name span {
	font-size: .24rem;
}

.myinfo .name+p,
.myinfo a {
	color: #b9e5f2;
	font-size: .22rem;
	margin-top: .15rem;
}

.myinfo a {
	margin-top: .25rem;
	display: block;
}
.baseinfo.view-list .view-item a.right-arrow:after{
	right: .1rem;
	background-image:url(../img/arrow2.png);
	height: .29rem;
	width: .16rem;
} .baseinfo.view-list .view-item .imgbox{
	height: .8rem;
	width: .8rem;
	border-radius: 100%;
	overflow: hidden;
}.baseinfo.view-list .view-item .imgbox img{
	display: block;
	height: 100%;
	width: 100%;
}
.baseinfo.view-list .view-item .nopadding{
	padding-top: .16rem;
	padding-bottom: .16rem;
}
.membership{
	background:#fff;
	padding: .3rem;
}
.membership img{
	display: block;
	width: 100%;
}
/* 证书 */
.certificate{
	background: #fff;
	padding: 0 .3rem;
}

.win .cert-details img{
	display: block;
	width: 3.3rem;
}
/* 缴费历史 */
.orderlist{
	text-align: center;
}
.orderlist .title {
	line-height: .8rem;
	color: #333;
	font-size: .28rem;
	padding: 0 .3rem;
	border-bottom: 1px solid #ddd;
}

.orderlist .title>span:first-child,
.orderlist .order-item .order-hd>span:first-child {
	width: 1.8rem;
	text-align: left;
}

.orderlist .title>span:last-child,
.orderlist .order-item .order-hd>span:last-child {
	width: 1.7rem;
	margin-left: .2rem;
	
}


.orderlist .order-item .order-hd {
	font-size: .26rem;
	color: #333;
	line-height: .8rem;
	padding: 0 .3rem;
	border-bottom: 1px solid #ddd;
}

.orderlist .order-item .order-bd {
	font-size: .24rem;
	color: #666;
	padding: .3rem;
	background: #f6f6f6;
	display: none;
	text-align: left;
}

.orderlist .order-item .order-bd p+p {
	margin-top: .25rem;
}


.order-item .order-hd>span.state {
	position: relative;
}

.order-item .order-hd>span.state:after {
	content: '';
	height: .2rem;
	width: .2rem;
	display: block;
	border: 1px solid transparent;
	border-top-color: #adadad;
	border-right-color: #adadad;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(45deg);
	transition: all .3s;
	transform-origin: 80% 20%;
	margin-top: -.05rem;
}

.order-item .order-hd.open>span.state:after {
	transform: rotate(130deg);
}
/* 照片 */
.photolist {
	text-align: center;
}
.photolist .imgbox,.photolist .imgupload{
	width: 2rem;
	height: 2.58rem;
	display: inline-block;
	overflow: hidden;
	position: relative;
}.photolist .imgbox img{
	display: block;
	height: 100%;
	width: 100%;
}
.photolist .imgupload{
	border: 1px solid #e5e5e5;
	background: url(../img/add.png) no-repeat center center;
	background-size:.3rem auto ;
}
.photolist .imgupload input[type=file]{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 400px;
	opacity: 0;
}
/* 设置时间 */
.settime {
	color: #333;
	text-align: center;
	background: #fff;
	padding:0 .3rem;
}
.settime .settime-item{
	color: #666;
	line-height: .52rem;
	margin-left: auto;
	margin-right: auto;
	padding: .35rem 0;
	border-bottom: 1px solid #ddd;
}
.settime .settime-item .tip {
	color: #fff;
	background: #36bbe0;
	border-radius: .1rem;
	line-height: .52rem;
	width: 1.7rem;
	font-size: .28rem;

}

.settime .settime-item .selectdatetime {
	background: #f5f5f5 url(../img/rili.png) no-repeat 1.25rem center;
	background-size:.26rem auto ;
	line-height: .52rem;
	border-radius: .1rem;
	border: none;
	width: 1.7rem;
	padding-left: .3rem;
	color: #666;
}